body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #535353;
  color: white;
}

h1 {
  text-align: center;
}

#loading {
  text-align: center;
  margin-top: 20px;
}

#search {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 8px;
  border: none;
}

#news-container {
  margin-top: 20px;
}

.card {
  background-color: #1e1e1e;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 10px;
  color: #cccccc;
}

a {
  color: #38bdf8;
  text-decoration: none;
}